@using Models.Character
@using Models.Resources
@if (Model == null)
{
    <div class="p-3">Model is null</div>
}
else
{
    <div class="p-3">Sections: @((Model.CharacterSheet?.Sections?.Count) ?? -1)</div>
}

<div>
    <h4>Sections</h4>
    @if (Model?.CharacterSheet?.Sections != null)
    {
        @foreach (var section in Model.CharacterSheet.Sections)
        {
            <SectionEditor Section="section" OnRemove="RemoveSection" />
        }
    }
    <button type="button" class="btn btn-outline-primary" @onclick="AddSection">Add Section</button>
</div>

@code {
    [Parameter] public CharacterResource Model { get; set; }

    private void AddSection()
    {
        if (Model?.CharacterSheet?.Sections == null) return;
        Model.CharacterSheet.Sections.Add(new CharacterSheetSection());
    }

    private async Task RemoveSection(CharacterSheetSection section)
    {
        if (Model?.CharacterSheet?.Sections == null) return;
        Model.CharacterSheet.Sections.Remove(section);
        await Task.CompletedTask;
    }
}