@using Models.Character
@using System.Text.Json.Nodes
@using Microsoft.AspNetCore.Components.Forms

<div class="row mb-2">
    <div class="col">
        <label class="form-label">Label</label>
        <InputText class="form-control" @bind-Value="Field.Label" />
    </div>
    <div class="col">
        <label class="form-label">Key</label>
        <InputText class="form-control" @bind-Value="Field.Key" />
    </div>
    <div class="col">
        <label class="form-label">Type</label>
        <InputSelect class="form-select" @bind-Value="Field.Type">
            <option value="text">Text</option>
            <option value="number">Number</option>
            <option value="bool">Boolean</option>
            <option value="date">Date</option>
        </InputSelect>
    </div>
    <div class="col">
        <label class="form-label">Value</label>
        @if (Field.Type == "number")
        {
            <InputNumber @bind-Value="BoundNumber" class="form-control" />
        }
        else if (Field.Type == "bool")
        {
            <InputCheckbox @bind-Value="BoundBool" class="form-check-input" />
        }
        else if (Field.Type == "date")
        {
            <InputDate @bind-Value="BoundDate" class="form-control" />
        }
        else
        {
            <InputText class="form-control" @bind-Value="BoundStringValue" />
        }
    </div>
    <div class="col-auto d-flex align-items-end">
        <button type="button" class="btn btn-secondary" @onclick="DeleteField">Remove Field</button>
    </div>
</div>

@code {
    /// <summary>
    /// Gets or sets the character sheet field being edited.
    /// </summary>
    [Parameter] public CharacterSheetField Field { get; set; }
    /// <summary>
    /// Callback raised when the field is removed.
    /// </summary>
    [Parameter] public EventCallback<CharacterSheetField> OnRemove { get; set; }

    private string? BoundStringValue
    {
        get => Field.Value?.GetValue<string?>();
        set => Field.Value = JsonValue.Create(value);
    }
    private int? BoundNumber
    {
        get => Field.Value?.GetValue<int?>();
        set => Field.Value = JsonValue.Create<int?>(value);
    }
    private bool BoundBool
    {
        get => Field.Value?.GetValue<bool?>() ?? false;
        set => Field.Value = JsonValue.Create<bool?>(value);
    }
    private DateTime? BoundDate
    {
        get => Field.Value?.GetValue<DateTime?>();
        set => Field.Value = JsonValue.Create<DateTime?>(value);
    }
    private async Task DeleteField()
    {
        await OnRemove.InvokeAsync(Field);
    }
}