@inherits LayoutComponentBase

<RadzenNotification />

<div class="page">
    <main>
        <div class="top-row px-4">
            <span>Database Seed Tool</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
